* {
    margin: 0 auto;
    /* background-color:#A100004D; */
    
}
html{
    background-color: #A100004D;
}

body { 
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    /* width: 100vw; */
    height: 100%;
    font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    width: 70%;
    margin-bottom: 2em;
}
main{
    
height: 100%;
display: absolute;
background-color: #FCFCFC;

}
header{
    /* width: 60vw; */
    /* height: 40%; */
}
.hero-image{
    background-image: url("../assets/hero.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 300px;
}
h1{
    color:#A10000;
}

section{
    padding: 2em;
}
ul, ol, li {
    margin-left: 0.6em;
}
h1, h2, p, ul, ol, li {
    padding:0.2em;
}

.description{
    background-color: #EBEBEB;
    padding: 1em;
}
.image-section{
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 10px;
    padding-bottom: 1em;
}
img{
width: 50%;
/* height: 300px; */
object-fit: cover;
}

