* {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

header{
    width: 60vw;
    display: flex;
}
.hero-image{
    background-image: url("../assets/hero.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
    height: 40%;
}

body {
    width: 70vw;
    height: 96vh;
}