* {
  margin: 0 auto;
  box-sizing: border-box;

}

html {
  background-color: #A100004D;
}

body {
  height: 100%;
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  width: 100vw;
  padding: 2rem;

}

.hero-container {
  position: relative;
  text-align: left;

  #hero-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    font-size: 50px;

    p {
      font-size: 20px;
      font-style: italic;
    }
  }
}

main {

  height: 100%;
  background-color: #FCFCFC;
}


.hero-image {
  background-image: url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

h1 {
  color: #A10000;
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

nav {
  display: flex;
  width: 100%;
}

.description {
  background-color: #EBEBEB;
  padding: 1em;
}



img {
  max-width: 100%;
  object-fit: cover;
  height: 250px;
}

/* @media screen and (max-width: 600px) {
  body {
    width: 100%;

  }

  .hero-image {
    height: 400px;
    width: 100vw;

  }

} */

.nav_list {


  li {
    display: inline;
    justify-content: space-between;
    padding: 0.2em;
  }
}

.content {
  display: grid;
  /* margin: 0 auto; */

  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  ;
  grid-template-rows: auto auto auto auto;
  /* width: 70vw; */
  gap: 1rem;
  align-items: center;
  justify-items: center;


  .content-card {
    /* padding: 2rem; */

    /* .content-card_header_img-wrapper:nth-child(2) {
      text-decoration: red 1px underline;
    } */
    text-decoration: none;
    color: black;

    .content-card_header {
      display: grid;

      grid-template-areas: "image" "head";

    }

    .content-card_header_img-wrapper:nth-child(2) {
      border: 2px solid green;
      grid-row: image;
    }


    .content-card_header_img-wrapper {
      border: 1px dotted pink;
    }

    .content-card_header_img-wrapper_cap {
      display: none;
    }



    .content-card_text {
      font-size: 16px;
      text-overflow: ellipsis;
      width: 30ch;
      display: inline-block;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      overflow: hidden;
      /* padding: 1rem; */
      /* background-color: aliceblue; */
      max-width: 100%;
      padding: 1rem 1rem 0 1rem;
    }
  }
}


.content-card:hover {

  .content-card_header_link_title {


    text-decoration: rgb(187, 55, 55) 2px underline;
  }
}