* {
  margin: 0 auto;
  box-sizing: border-box;

}

html {
  background-color: #A100004D;
}

body {
  height: 100%;
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  width: 70vw;

}

main {

  height: 100%;
  background-color: #FCFCFC;
}


.hero-image {
  background-image: url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 300px;
}

h1 {
  color: #A10000;
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

nav {
  display: flex;
  width: 100%;
  /* align-items: center; */
}

/* p {
  margin-top: 1em;
} */

.description {
  background-color: #EBEBEB;
  padding: 1em;
}



img {
  width: 250px;
  object-fit: cover;
  height: 250px;
}

/* @media screen and (max-width: 600px) {
  body {
    width: 100%;

  }

  main {
    gap: 0;
  }

  .hero-image {
    height: 400px;
    width: 100vw;

  }

} */

.nav_list {


  li {
    display: inline;
    justify-content: space-between;
    padding: 0.2em;
  }
}

.content {
  display: grid;
  margin: 0 auto;

  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  width: 70vw;


  .content-card {
    /* width: 40vw; */



    .content-card_text {
      font-size: 16px;

    }
  }
}

.content-card_header_link {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: rgb(187, 55, 55) 2px underline;
  }
}