* {
  margin: 0 auto;
  box-sizing: border-box;

}

html {

  /* Varibles */

  /* Colors */
  --white: oklch(96.346% 0.00319 15.323);
  --black: oklch(9.988% 0.04099 29.223);
  --bg-color: oklch(0.4452 0.1827 29.23 / 30.2%);
  --hero-text-color: oklch(95.808% 0.00871 25.37 / 0.813);
  --dark-text: oklch(0.4452 0.1827 29.23);
  --hover-color: oklch(0.9097 0.0432 16.2 / 77.37%);
  --underline: oklch(0.5342 0.1689 24.94);
  --accent-color: oklch(0.3858 0.1471 0.43);
  --darker-accent: oklch(0.3038 0.0543 0.43);
  --overlay: oklch(0.3862 0.1332 0.43 / 32.39%);
  --modal-bg: oklch(92.502% 0.02085 17.26 / 0.994);
  --log-btn: oklch(66.226% 0.09398 19.833 / 0.736);

  /* Padding and margin */
  --space-xxs: 0.2rem;
  --space-xs: 0.4rem;
  --space-s: 0.8rem;
  --space-m: 1.4rem;
  --space-l: 2rem;
  --space-xl: 3rem;

  /* Screen sizes */
  --mobile: 400px;
  --small-tablet: 580px;
  --tablet: 760px;
  --high-resolution: 900px;
  /* FONTS */

  --font-size-p: clamp(1rem, 1.5vw, 2.5rem);
  /* Moirai One: CSS class */

  .moirai-one-regular {
    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  /* Rubik Puddles: CSS class */

  .rubik-puddles-regular {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  /* Londrina Shadow: CSS class */

  .londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* IM Fell Great Primer: CSS classes */

  .im-fell-great-primer-regular {
    font-family: "IM Fell Great Primer", serif;
    font-weight: 400;
    font-style: normal;
  }

  .im-fell-great-primer-regular-italic {
    font-family: "IM Fell Great Primer", serif;
    font-weight: 400;
    font-style: italic;
  }

  /* Font-style */
  --logo-font: "Moirai One",
  system-ui;
  --hero-font: "Rubik Puddles",
  system-ui;
  --p-font: "IM Fell Great Primer",
  serif;
  --title-font: "Londrina Shadow",
  sans-serif;

  /* HTML style */
  background-color: var(--bg-color);
}

body {
  font-family: var(--p-font);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  width: 100vw;
  padding: 0 var(--space-l) 0 var(--space-l);

  @media (max-width: 400px) {
    padding: 0 var(--space-xs) 0 var(--space-xs);
  }
}

.hero-container {
  position: relative;
  text-align: left;

  .hero-image {
    height: clamp(20rem, 20vw, 40rem);
  }

  #hero-title {
    color: var(--hero-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    font-size: clamp(2rem, 3.5vw, 5.5rem);

    p {
      font-size: clamp(1rem, 1.5vw, 2.5rem);
      font-style: italic;
    }

    @media (max-width: 400px) {
      margin: 0 0 0 15%;
    }
  }
}

main {
  background-color: var(--white);
}

.hero-image {
  background-image: url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.hero-div {
  position: absolute;
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
  top: 0;
}

h1 {
  /* color: var(--dark-text); */
  font-size: 3em;
  font-family: var(--hero-font);
}

h2 {
  font-size: var(--space-l);
  font-family: var(--title-font);
  color: var(--darker-accent);
}

h3 {
  font-size: var(--space-m);
  font-family: var(--title-font);
  padding: var(--space-xs);
  color: var(--darker-accent);
}

nav {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-s);

  .logo {
    font-family: var(--hero-font);
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    font-style: bold;
    color: var(--accent-color);

    &:hover {
      color: var(--hover-color);
    }
  }

  .link {
    padding: var(--space-xxs) 1.2em var(--space-xxs) 1.2em;
    width: clamp(5rem, 10vw, 20rem);
    border-radius: 20px;
    background-color: var(--log-btn);
    border: none;
    font-family: var(--title-font);
    font-size: var(--font-size-p);

    a {
      color: var(--dark-text);
      font-weight: bold;
    }

    &:hover {
      box-shadow: 0 var(--space-xs) var(--space-xs) 0 var(--accent-color);
      background-color: var(--log-btn);
    }

    &:active {
      box-shadow: 2px 2px 2px var(--accent-color) inset;
    }
  }
}

a {
  text-decoration: none;
}

.nav_list {
  /* width: 100%; */

  li {
    display: inline;
    padding: var(--space-xs);
    font-family: var(--title-font);
    color: var(--darker-accent);

    &:hover {
      color: var(--hover-color);
      text-decoration: var(--underline) 2px underline;
      text-underline-offset: var(--space-xs);
    }
  }
}

main {
  h2 {
    margin: 0px 0px var(--space-m) 0px;
    text-align: center;
    padding-top: var(--space-m);
    color: var(--darker-accent);
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    gap: var(--space-s);
    align-items: center;
    justify-items: center;

    .content-card {
      text-decoration: none;
      color: var(--darker-accent);
      margin: 0px var(--space-xxs) var(--space-m) var(--space-xxs);
      /* padding: 2em; */

      .content-card_header {
        display: grid;
        grid-template-areas: "image" "head";
      }

      .content-card_header_img-wrapper {
        grid-row: image;



        .content-card_header_img-wrapper_img {
          aspect-ratio: 1;
          width: clamp(20rem, 30vw, 25rem);
          object-fit: cover;


          /* @media (max-width: 550px) {
            width: 20rem;
          } */
        }
      }

      .content-card_header_img-wrapper_cap {
        display: none;
      }

      .content-card_text {
        font-size: 1em;
        text-overflow: ellipsis;
        display: inline-block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        overflow: hidden;
        max-width: 100%;
        padding: 0.4rem 0.4rem 0.2rem 0.8rem;

        @media (min-width: 450px) and (max-width: 540px) {
          width: 70vw;
        }
      }
    }
  }


  .content-card:hover {
    .content-card_header_link_title {
      text-decoration: var(--underline) 2px underline;
      text-underline-offset: var(--space-xs);
    }
  }


}

footer {
  display: flex;
  margin: 1em 0em 2em 0em;

  li {
    list-style: none;
  }

  .skiplink-wrapper {
    margin-top: 1em;
  }

  @media (max-width: 400px) {
    flex-direction: column;
    gap: var(--space-s);

  }

  @media (max-width: 750px) {
    flex-direction: column;
    gap: var(--space-l)
  }

}


.skiplink {
  display: inline-block;
  color: var(--black);
  background: var(--white);
  padding: .5em;
  position: absolute;
  left: -99999rem;
  z-index: 100;


  &:focus {
    left: 0;
  }
}

.contact-button {
  border: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
  background-color: var(--modal-bg);
  border-radius: 10px;

  &:hover {
    box-shadow: var(--space-xs) var(--space-xs) var(--space-xs) var(--accent-color);
  }

  &:active {
    box-shadow: 2px 2px 2px var(--accent-color) inset;
  }
}

.modal-wrapper {
  width: 60%;
  border: none;
  border-radius: 10px;
  background-color: var(--modal-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal-content {
    header {
      display: flex;
      margin: 0.6em 0 1em 5em;

      .modal-content_close-btn {
        border: none;
        color: var(--bg-color);
        background-color: var(--modal-bg);
        margin-right: 0;
        display: inline-block;

        &:hover {
          border-radius: 100px;
          color: var(--modal-bg);
          background-color: var(--accent-color);
          box-shadow: 2px var(--space-xs) var(--space-xs) 2px var(--accent-color);
          /* background-color: var(--hover-color); */
        }

        &:active {
          box-shadow: 2px 2px 2px 2px var(--accent-color) inset;
          border-radius: 100px;
          color: var(--bg-color);
          background-color: var(--modal-bg);
        }
      }
    }

    .modal-content_form {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
      width: 100%;

      label {
        width: 100%
      }

      input {
        width: 16em;

      }

      textarea {
        width: 90%;
      }

      .modal-content_form_submit-btn {
        padding: 0.6em 1.2em 0.6em 1.2em;
        background-color: var(--dark-text);
        color: var(--hover-color);
        border: none;
        border-radius: 10px;

        &:hover {
          box-shadow: 2px var(--space-xs) var(--space-xs) 2px var(--accent-color);
        }

        &:active {
          box-shadow: 2px 2px 2px 2px var(--accent-color) inset;
          background-color: var(--hover-color);
          color: var(--dark-text);
        }
      }
    }
  }

  @media (max-width: 400px) {
    width: 90vw;

    header {
      display: flex;
      flex-direction: column;
      margin: 0 0 1em 0;
    }

    .modal-content {
      .modal-content_form {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        width: 90%;

        input {
          width: 15em;
          /* margin-right: 0; */

        }

        textarea {
          width: 80%;
          margin: 0;
        }

        select {
          width: 15em;
        }
      }

    }
  }
}