/* * {
    margin: 0 auto;
    
} */

body {
    width: 100vw;
    height: 100%;
    font-family: 'Calibri', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width: 70%;
height: 100%;
display: absolute;

}
header{
    width: 60vw;
    /* height: 40%; */
}
.hero-image{
    background-image: url("../assets/hero.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 300px;
}
h1{
    color:#A10000;
}

.description{
    background-color: #EBEBEB;
    padding: 1em;
}